#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 50px;
    text-align: center;
    font-family: arial;
}

#searhed-phone {
    display: flex;
    justify-content: center;
}

img {
    margin-top: 20px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:active {
    opacity: 0.7;
}



/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
    border: none;
    padding: 10px 20px;
    background-color: #000;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-family: arial;
}

.form-inline button:active {
    opacity: 0.5;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        justify-content: center;
        /* align-items: stretch; */
    }

    .form-inline button {
        margin: 10px 0;
        padding: 11px 73px;
    }

}